@charset "UTF-8";
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

html, body {
  scroll-padding-top: 100px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Hiragino Mincho Pro", serif;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.header .inner .header-fixed {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  z-index: 2;
}

.header .inner .header-logo {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 70px;
  margin-left: 30px;
}

.header .inner .header-logo .logo-anim {
  position: relative;
  z-index: 10;
}

.header .inner .header-logo .logo-anim:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: -1;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .inner .header-logo:hover .logo-anim:after {
  width: 100%;
}

.header .inner .nav-btn {
  width: 52px;
  height: 30px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  outline: none;
  right: 30px;
}

@media print, screen and (min-width: 768px) {
  .header .inner .nav-btn {
    display: none;
  }
}

.header .inner .nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .inner .nav-btn.-active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .inner .nav-btn.-active span:nth-child(2) {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.header .inner .nav-btn.-active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .inner .nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #6E6E6E;
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .inner .nav-btn span:first-child {
  top: 0;
}

.header .inner .nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.header .inner .nav-btn span:last-child {
  bottom: 0;
}

.header .inner .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: #F2F2F2;
  visibility: hidden;
  z-index: 1;
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

@media print, screen and (min-width: 768px) {
  .header .inner .nav {
    opacity: 1;
    width: initial;
    height: 0;
    left: inherit;
    background-image: none;
    background-color: transparent;
    padding-top: 0;
    z-index: 3;
    right: 0;
    top: 40px;
    opacity: 1;
    visibility: visible;
  }
}

.header .inner .nav.-active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header .inner .nav-wrap {
  padding-top: 200px;
  height: 2000px;
  background: rgba(255, 255, 255, 0.5);
}

@media print, screen and (min-width: 768px) {
  .header .inner .nav-wrap {
    background: #F2F2F2;
    padding-top: 0;
    height: auto;
  }
}

.header .inner .nav-list {
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .header .inner .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.header .inner .nav-list .ex {
  color: #fff;
  background-color: #dde000;
  border-radius: 2rem;
  padding: 10px;
  width: 300px;
  font-size: 25px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media print, screen and (min-width: 768px) {
  .header .inner .nav-list .ex {
    font-size: 18px;
  }
}

.header .inner .nav-list .ex:hover {
  -webkit-transition: .8s;
  transition: .8s;
  color: #000;
  opacity: 0.5;
}

.header .inner .nav-list .item + .item {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .header .inner .nav-list .item + .item {
    margin-top: 0;
    margin-left: 20px;
  }
}

.header .inner .nav-list .item:last-child {
  margin-top: 30px;
}

@media print, screen and (min-width: 768px) {
  .header .inner .nav-list .item:last-child {
    margin-top: 0;
  }
}

.header .inner .nav-list .item .anm {
  position: relative;
  z-index: 10;
  font-size: 25px;
}

@media print, screen and (min-width: 768px) {
  .header .inner .nav-list .item .anm {
    font-size: 18px;
  }
}

.header .inner .nav-list .item .anm:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: -1;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .inner .nav-list .item:hover .anm:after {
  width: 100%;
}

.cmn-title {
  text-align: center;
  display: block;
  color: #000;
  font-size: 30px;
}

@media print, screen and (min-width: 768px) {
  .cmn-title {
    font-size: 40px;
  }
}

.cmn-link a {
  position: relative;
  color: #fff;
  background-color: #dde000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
  width: 300px;
  margin-bottom: 20px;
  top: 0;
  right: 50%;
  left: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  font-size: 22px;
}

.cmn-link a:hover {
  opacity: .6;
  color: #000;
}

@media print, screen and (min-width: 768px) {
  .cmn-link a {
    width: 400px;
    padding: 10px 0;
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.footer {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

.footer .inner {
  background: rgba(255, 255, 255, 0.7);
}

.footer .copyright {
  padding-top: 50px;
  text-align: center;
  font-size: 10px;
}

@media print, screen and (min-width: 768px) {
  .footer .copyright {
    font-size: 15px;
  }
}

.top {
  background-image: url(https://toryaoooo.github.io/portpolio/image/top.sp01.png);
  background-position: center;
  background-size: cover;
  height: 670px;
  margin-top: 80px;
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .top {
    background-image: url(https://toryaoooo.github.io/portpolio/image/top01.png);
    height: 800px;
  }
}

.top .top-link {
  position: relative;
  z-index: 10;
}

.top-title {
  position: relative;
  background-color: rgba(112, 107, 107, 0.5);
  top: 50%;
  left: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 94%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border-radius: 15px;
}

@media print, screen and (min-width: 768px) {
  .top-title {
    width: 700px;
  }
}

.title-main {
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 23px;
}

@media print, screen and (min-width: 768px) {
  .title-main {
    font-size: 38px;
  }
}

.title-sub {
  text-align: center;
  color: #fff;
  padding-top: 25px;
  font-size: 17px;
}

@media print, screen and (min-width: 768px) {
  .title-sub {
    font-size: 25px;
  }
}

.features {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

.features .inner {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 80px;
}

.features .features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  padding-top: 50px;
}

.features .features-item .desc {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  font-size: 18px;
  padding: 0 20px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item .desc {
    font-size: 20px;
  }
}

.features .features-item .desc br {
  display: none;
}

@media print, screen and (min-width: 768px) {
  .features .features-item .desc br {
    display: block;
  }
}

.features .features-item .desc span {
  color: #FF0000;
}

.features .features-item .image {
  margin-bottom: 20px;
}

.features .features-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 300px;
  height: auto;
}

@media print, screen and (min-width: 768px) {
  .features .features-item img {
    width: 40%;
  }
}

.career {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

.career .inner {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 40px;
  padding-bottom: 50px;
}

.career .text {
  font-size: 15px;
  padding-top: 30px;
  display: block;
  width: 320px;
  margin: 0 auto;
  white-space: nowrap;
}

@media print, screen and (min-width: 768px) {
  .career .text {
    font-size: 20px;
    width: 22em;
  }
}

.career .text dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media print, screen and (min-width: 768px) {
  .career .text dl br {
    display: none;
  }
}

.skill {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

.skill .inner {
  padding-bottom: 40px;
  background: rgba(255, 255, 255, 0.7);
}

.skill .title {
  padding-bottom: 30px;
}

.skill .opacity {
  padding-top: 30px;
  background-color: rgba(112, 107, 107, 0.2);
  border-radius: 15px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
}

@media print, screen and (min-width: 768px) {
  .skill .opacity {
    width: 95%;
  }
}

.skill .rec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media print, screen and (min-width: 768px) {
  .skill .rec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skill .rec-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  margin: 0 auto;
}

.skill .rec-item + .rec-item {
  padding-top: 30px;
}

@media print, screen and (min-width: 768px) {
  .skill .rec-item + .rec-item {
    margin-left: 30px;
  }
}

.skill .desc {
  text-align: center;
  font-size: 16px;
  padding-bottom: 15px;
}

@media print, screen and (min-width: 768px) {
  .skill .desc {
    font-size: 18px;
  }
}

.skill img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

@media print, screen and (min-width: 768px) {
  .skill img {
    width: 20vw;
    height: 20vw;
  }
}

.service {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

.service .inner {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 30px;
}

.service .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media print, screen and (min-width: 768px) {
  .service .service-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 20px;
  }
}

@media print, screen and (min-width: 768px) {
  .service .service-item {
    top: 0;
    left: 0;
  }
  .service .service-item + .service-item {
    padding-left: 20px;
  }
}

.service .service-item .title {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item .title {
    font-size: 20px;
  }
}

.service .service-item .opacity {
  background-color: rgba(112, 107, 107, 0.2);
  border-radius: 15px;
  padding: 10px;
  height: auto;
  width: 80%;
  margin: 0 auto;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

@media print, screen and (min-width: 768px) {
  .service .service-item .opacity {
    top: 0;
    margin: 0 0;
    width: 26vw;
  }
}

.service .service-item .opacity .text .desc {
  font-size: 15px;
  margin: 0 20px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item .opacity .text .desc {
    font-size: 18px;
  }
}

.service .service-item .opacity .text .title {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

.service .service-item .opacity .text .plan {
  font-size: 15px;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .service .service-item .opacity .text .plan {
    font-size: 18px;
  }
}

.service .service-item .opacity .text span {
  color: #FF0000;
}

.service .service-item .opacity .image {
  margin: 0 auto;
}

.service .service-item .opacity img {
  width: 70vw;
  border-radius: 10px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item .opacity img {
    width: 25vw;
    height: auto;
  }
}

.service .for-ex {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  width: 90vw;
  margin: 0 auto;
}

.service .for-ex .text {
  font-size: 15px;
}

.service .for-ex .text br {
  display: none;
}

@media print, screen and (min-width: 768px) {
  .service .for-ex .text br {
    display: block;
  }
}

@media print, screen and (min-width: 768px) {
  .service .for-ex .text {
    font-size: 18px;
  }
}

.service .for-ex .desc {
  padding-top: 20px;
  font-size: 15px;
  color: #FF0000;
}

@media print, screen and (min-width: 768px) {
  .service .for-ex .desc {
    font-size: 18px;
  }
}

.works {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

.works .inner {
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 30px;
  padding-top: 30px;
}

.works .title {
  padding-bottom: 25px;
}

.works .works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media print, screen and (min-width: 768px) {
  .works .works-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px;
  }
}

.works .opacity {
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: rgba(112, 107, 107, 0.2);
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
}

@media print, screen and (min-width: 768px) {
  .works .opacity {
    width: 90%;
  }
}

.works .works-item {
  margin: 0 auto;
  width: 60vw;
}

@media print, screen and (min-width: 768px) {
  .works .works-item + .works-item {
    margin-left: 20px;
  }
}

@media print, screen and (min-width: 768px) {
  .works .works-item {
    width: 25vw;
  }
}

.works .works-item .title {
  font-size: 15px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media print, screen and (min-width: 768px) {
  .works .works-item .title {
    font-size: 16px;
  }
}

.works .image {
  -webkit-transition: .4s;
  transition: .4s;
}

.works .image:hover {
  opacity: 0.6;
}

.works .image + .image {
  padding-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .works .image + .image {
    padding-top: 0;
  }
}

.works img {
  width: 60vw;
  height: 35vw;
  border-radius: 15px;
}

@media print, screen and (min-width: 768px) {
  .works img {
    width: 25vw;
    height: 16vw;
  }
}

.flow {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

.flow .title {
  padding-bottom: 30px;
}

.flow .inner {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 30px;
}

.flow .flow-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flow .flow-item {
  background-color: rgba(112, 107, 107, 0.2);
  border-radius: 15px;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

.flow .flow-item + .flow-item {
  margin-top: 20px;
}

.flow li::after {
  content: "▼";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.flow li.last::after {
  content: "";
}

.flow .text {
  text-align: center;
}

.flow .text .title {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media print, screen and (min-width: 768px) {
  .flow .text .title {
    font-size: 24px;
  }
}

.flow .text .desc {
  padding: 0 20px;
  font-size: 15px;
  padding-bottom: 20px;
}

@media print, screen and (min-width: 768px) {
  .flow .text .desc {
    font-size: 20px;
  }
}

.contact {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
}

.contact .inner {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 50px;
}

.contact .contact-link {
  -webkit-transition: .4s;
  transition: .4s;
}

.contact .contact-link:hover {
  color: #000;
  opacity: 0.6;
}

.contact .desc {
  font-size: 19px;
  padding-top: 50px;
  text-align: center;
}

.contact .desc br {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .contact .desc br {
    display: none;
  }
}

@media print, screen and (min-width: 768px) {
  .contact .desc {
    font-size: 23px;
  }
}

.contact .follow {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .follow-item + .follow-item {
  margin-left: 50px;
}

.twitter {
  position: relative;
  z-index: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #0697eb;
}

.twitter:hover {
  background-color: white;
}

.twitter .fab {
  position: absolute;
  top: -10px;
  left: -8px;
  z-index: 1;
  -webkit-transition: .4s;
  transition: .4s;
  color: white;
}

.twitter .fab:hover {
  color: #0697eb;
}

.gmail {
  position: relative;
  z-index: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ee3017;
}

.gmail:hover {
  background-color: white;
}

.gmail .fas {
  position: absolute;
  top: -10px;
  left: -8px;
  z-index: 1;
  -webkit-transition: .4s;
  transition: .4s;
  color: white;
}

.gmail .fas:hover {
  color: #ee3017;
}
