.career {
  background-image: url(https://toryaoooo.github.io/portpolio/image/bgi01.png);
  .inner {
    background: rgba(255, 255, 255, 0.7);
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .text {
    font-size: 15px;
    padding-top: 30px;
    display: block;
    width: 320px;
    margin: 0 auto;
    white-space: nowrap;
    @include overTab {
      font-size: 20px;
      width: 22em;
    }
    dl {
      display: flex;
      br {
      @include overTab {
        display: none;
      }
    }
    }
  }
}